<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOps Demo By Sucheth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <header>
        <h2>DevOps Demo</h2>
    </header>

    <main>
        <section class="hero">
            <h1>Simple. Fast. Deployed with CI/CD.</h1>
            <p>
                A simple web application deployed using
                GitHub, Jenkins, Docker and AWS EC2.
            </p>
        </section>

        <section class="about">
            <h2>About This Project</h2>
            <p>
                This website is automatically built and deployed
                whenever new changes are pushed to GitHub.
            </p>

            <div class="pipeline">
                GitHub → Jenkins → Docker → AWS EC2
            </div>
        </section>
    </main>

    <footer>
        <p>DevOps Demo • Built with Flask & Docker</p>
    </footer>

</body>
</html>
